.icon_menu_right{
	.nav-item{
		.nav-link{
			svg{
				width: 18px;
				height: 18px;
			}
		}
	}
}

.logo_menu{
	img{
		width: 130px;
		height: auto;
	}
	
}

.header_bg{
	background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    z-index: 6;
}


html {
	body{
		.bg-light{
			background-color: transparent !important;
		}
	}
}

.filter_breadcrumb{
	.breadcrumb{
		margin: 0px !important;
	}
}